In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('E_Commerce_Dataset.xlsx', sheet_name='E Comm')

In [3]:
df

,CustomerID,Churn,Tenure,PreferredLoginDevice,CityTier,WarehouseToHome,PreferredPaymentMode,Gender,HourSpendOnApp,NumberOfDeviceRegistered,PreferedOrderCat,SatisfactionScore,MaritalStatus,NumberOfAddress,Complain,OrderAmountHikeFromlastYear,CouponUsed,OrderCount,DaySinceLastOrder,CashbackAmount
0,50001,1,4.0,Mobile Phone,3,6.0,Debit Card,Female,3.0,3,Laptop & Accessory,2,Single,9,1,11.0,1.0,1.0,5.0,159.93
1,50002,1,NaN,Phone,1,8.0,UPI,Male,3.0,4,Mobile,3,Single,7,1,15.0,0.0,1.0,0.0,120.90
2,50003,1,NaN,Phone,1,30.0,Debit Card,Male,2.0,4,Mobile,3,Single,6,1,14.0,0.0,1.0,3.0,120.28
3,50004,1,0.0,Phone,3,15.0,Debit Card,Male,2.0,4,Laptop & Accessory,5,Single,8,0,23.0,0.0,1.0,3.0,134.07
4,50005,1,0.0,Phone,1,12.0,CC,Male,NaN,3,Mobile,5,Single,3,0,11.0,1.0,1.0,3.0,129.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5625,55626,0,10.0,Computer,1,30.0,Credit Card,Male,3.0,2,Laptop & Accessory,1,Married,6,0,18.0,1.0,2.0,4.0,150.71
5626,55627,0,13.0,Mobile Phone,1,13.0,Credit Card,Male,3.0,5,Fashion,5,Married,6,0,16.0,1.0,2.0,NaN,224.91
5627,55628,0,1.0,Mobile Phone,1,11.0,Debit Card,Male,3.0,2,Laptop & Accessory,4,Married,3,1,21.0,1.0,2.0,4.0,186.42
5628,55629,0,23.0,Computer,3,9.0,Credit Card,Male,4.0,5,Laptop & Accessory,4,Married,4,0,15.0,2.0,2.0,9.0,178.90
5629,55630,0,8.0,Mobile Phone,1,15.0,Credit Card,Male,3.0,2,Laptop & Accessory,3,Married,4,0,13.0,2.0,2.0,3.0,169.04

In [4]:
df.drop(columns=['CustomerID'], inplace=True)

In [5]:
df.isnull().sum()

Churn                            0
Tenure                         264
PreferredLoginDevice             0
CityTier                         0
WarehouseToHome                251
PreferredPaymentMode             0
Gender                           0
HourSpendOnApp                 255
NumberOfDeviceRegistered         0
PreferedOrderCat                 0
SatisfactionScore                0
MaritalStatus                    0
NumberOfAddress                  0
Complain                         0
OrderAmountHikeFromlastYear    265
CouponUsed                     256
OrderCount                     258
DaySinceLastOrder              307
CashbackAmount                   0
dtype: int64

In [6]:
df.dropna(inplace=True)

In [7]:
df

,Churn,Tenure,PreferredLoginDevice,CityTier,WarehouseToHome,PreferredPaymentMode,Gender,HourSpendOnApp,NumberOfDeviceRegistered,PreferedOrderCat,SatisfactionScore,MaritalStatus,NumberOfAddress,Complain,OrderAmountHikeFromlastYear,CouponUsed,OrderCount,DaySinceLastOrder,CashbackAmount
0,1,4.0,Mobile Phone,3,6.0,Debit Card,Female,3.0,3,Laptop & Accessory,2,Single,9,1,11.0,1.0,1.0,5.0,159.93
3,1,0.0,Phone,3,15.0,Debit Card,Male,2.0,4,Laptop & Accessory,5,Single,8,0,23.0,0.0,1.0,3.0,134.07
5,1,0.0,Computer,1,22.0,Debit Card,Female,3.0,5,Mobile Phone,5,Single,2,1,22.0,4.0,6.0,7.0,139.19
11,1,11.0,Mobile Phone,1,6.0,Debit Card,Male,3.0,4,Fashion,3,Single,10,1,13.0,0.0,1.0,0.0,153.81
12,1,0.0,Phone,1,11.0,COD,Male,2.0,3,Mobile,3,Single,2,1,13.0,2.0,2.0,2.0,134.41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5624,0,1.0,Mobile Phone,3,12.0,UPI,Female,2.0,5,Mobile Phone,3,Single,2,0,19.0,2.0,2.0,1.0,154.66
5625,0,10.0,Computer,1,30.0,Credit Card,Male,3.0,2,Laptop & Accessory,1,Married,6,0,18.0,1.0,2.0,4.0,150.71
5627,0,1.0,Mobile Phone,1,11.0,Debit Card,Male,3.0,2,Laptop & Accessory,4,Married,3,1,21.0,1.0,2.0,4.0,186.42
5628,0,23.0,Computer,3,9.0,Credit Card,Male,4.0,5,Laptop & Accessory,4,Married,4,0,15.0,2.0,2.0,9.0,178.90
5629,0,8.0,Mobile Phone,1,15.0,Credit Card,Male,3.0,2,Laptop & Accessory,3,Married,4,0,13.0,2.0,2.0,3.0,169.04

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3774 entries, 0 to 5629
Data columns (total 19 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Churn                        3774 non-null   int64
 1   Tenure                       3774 non-null   float64
 2   PreferredLoginDevice         3774 non-null   object
 3   CityTier                     3774 non-null   int64
 4   WarehouseToHome              3774 non-null   float64
 5   PreferredPaymentMode         3774 non-null   object
 6   Gender                       3774 non-null   object
 7   HourSpendOnApp               3774 non-null   float64
 8   NumberOfDeviceRegistered     3774 non-null   int64
 9   PreferedOrderCat             3774 non-null   object
 10  SatisfactionScore            3774 non-null   int64
 11  MaritalStatus                3774 non-null   object
 12  NumberOfAddress              3774 non-null   int64
 13  Complain                     3774 non-null   int64
 14  OrderAmountHikeFromlastYear  3774 non-null   float64
 15  CouponUsed                   3774 non-null   float64
 16  OrderCount                   3774 non-null   float64
 17  DaySinceLastOrder            3774 non-null   float64
 18  CashbackAmount               3774 non-null   float64
dtypes: float64(8), int64(6), object(5)
memory usage: 589.7+ KB

In [9]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()

label_encodings = {}
for column in df.select_dtypes(include=['object']).columns:
    df[column] = label_encoder.fit_transform(df[column])
    label_encodings[column] = dict(zip(label_encoder.classes_, label_encoder.transform(label_encoder.classes_)))

label_encodings

{'PreferredLoginDevice': {'Computer': 0, 'Mobile Phone': 1, 'Phone': 2},
 'PreferredPaymentMode': {'CC': 0,
  'COD': 1,
  'Cash on Delivery': 2,
  'Credit Card': 3,
  'Debit Card': 4,
  'E wallet': 5,
  'UPI': 6},
 'Gender': {'Female': 0, 'Male': 1},
 'PreferedOrderCat': {'Fashion': 0,
  'Grocery': 1,
  'Laptop & Accessory': 2,
  'Mobile': 3,
  'Mobile Phone': 4,
  'Others': 5},
 'MaritalStatus': {'Divorced': 0, 'Married': 1, 'Single': 2}}

In [10]:
df

,Churn,Tenure,PreferredLoginDevice,CityTier,WarehouseToHome,PreferredPaymentMode,Gender,HourSpendOnApp,NumberOfDeviceRegistered,PreferedOrderCat,SatisfactionScore,MaritalStatus,NumberOfAddress,Complain,OrderAmountHikeFromlastYear,CouponUsed,OrderCount,DaySinceLastOrder,CashbackAmount
0,1,4.0,1,3,6.0,4,0,3.0,3,2,2,2,9,1,11.0,1.0,1.0,5.0,159.93
3,1,0.0,2,3,15.0,4,1,2.0,4,2,5,2,8,0,23.0,0.0,1.0,3.0,134.07
5,1,0.0,0,1,22.0,4,0,3.0,5,4,5,2,2,1,22.0,4.0,6.0,7.0,139.19
11,1,11.0,1,1,6.0,4,1,3.0,4,0,3,2,10,1,13.0,0.0,1.0,0.0,153.81
12,1,0.0,2,1,11.0,1,1,2.0,3,3,3,2,2,1,13.0,2.0,2.0,2.0,134.41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5624,0,1.0,1,3,12.0,6,0,2.0,5,4,3,2,2,0,19.0,2.0,2.0,1.0,154.66
5625,0,10.0,0,1,30.0,3,1,3.0,2,2,1,1,6,0,18.0,1.0,2.0,4.0,150.71
5627,0,1.0,1,1,11.0,4,1,3.0,2,2,4,1,3,1,21.0,1.0,2.0,4.0,186.42
5628,0,23.0,0,3,9.0,3,1,4.0,5,2,4,1,4,0,15.0,2.0,2.0,9.0,178.90
5629,0,8.0,1,1,15.0,3,1,3.0,2,2,3,1,4,0,13.0,2.0,2.0,3.0,169.04

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3774 entries, 0 to 5629
Data columns (total 19 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Churn                        3774 non-null   int64
 1   Tenure                       3774 non-null   float64
 2   PreferredLoginDevice         3774 non-null   int64
 3   CityTier                     3774 non-null   int64
 4   WarehouseToHome              3774 non-null   float64
 5   PreferredPaymentMode         3774 non-null   int64
 6   Gender                       3774 non-null   int64
 7   HourSpendOnApp               3774 non-null   float64
 8   NumberOfDeviceRegistered     3774 non-null   int64
 9   PreferedOrderCat             3774 non-null   int64
 10  SatisfactionScore            3774 non-null   int64
 11  MaritalStatus                3774 non-null   int64
 12  NumberOfAddress              3774 non-null   int64
 13  Complain                     3774 non-null   int64
 14  OrderAmountHikeFromlastYear  3774 non-null   float64
 15  CouponUsed                   3774 non-null   float64
 16  OrderCount                   3774 non-null   float64
 17  DaySinceLastOrder            3774 non-null   float64
 18  CashbackAmount               3774 non-null   float64
dtypes: float64(8), int64(11)
memory usage: 589.7 KB

In [12]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [13]:
X = df.drop(columns=['Churn'])
y = df['Churn']
scaler = StandardScaler()
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=33)
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [14]:
import joblib

# Save preprocessed data
joblib.dump((X_train_scaled, X_test_scaled, y_train, y_test), 'preprocessed_data.pkl')
print("Preprocessed data saved as preprocessed_data.pkl")

Preprocessed data saved as preprocessed_data.pkl